@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body,
input,
a,
button {
  font-family: 'Lexend Deca', sans-serif;
}

.hero,
#map,
#contact {
  padding-top: 88px;
}

/* NAVBAR */


/* HERO */
.hero {
  background: #051923 url(.//assets/photos/topography.svg);
  height: calc(100vh);
  color: #fff;
}

/* MAP */

#map {
  height: 600px;
  width: 600px;
}