@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body,
input,
a,
button {
  font-family: 'Lexend Deca', sans-serif;
}

.hero,
#map,
#contact {
  margin-top: 88px;
}

/* NAVBAR */


/* HERO */
.hero {
  background: #051923 url(.//assets/photos/topography.svg);
  height: calc(100vh - 88px);
  color: #fff;
}

/* MAP */

.map-page-content {
  display: flex;
}

#map {
  height: calc(100vh - 88px);
  /* width: 100%; */
}

.sidebar {
  background-color: green;
  height: 100%;
}